{
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "script"
  },
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "import"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": [
          "lint-staged.config.js",
          "test/**",
          "packages/**/test/**",
          "packages/**/*.test.js"
        ],
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "import/order": [
      "error", {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ]
  }
}